<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<context:component-scan
		base-package="mx.com.server.azteca.spring.*" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<mvc:annotation-driven />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>



	<bean name="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/GameManager" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
	</bean>


	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter" />
				<ref bean="xmlMessageConverter" />
			</list>
		</property>
	</bean>

	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	</bean>

	<bean id="xmlMessageConverter"
		class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter">
	</bean>

	<bean id="restTemplate"
		class="org.springframework.web.client.RestTemplate">
	</bean>

	<bean id="objectMapper"
		class="com.fasterxml.jackson.databind.ObjectMapper" />
	<!-- <mvc:cors> -->
	<!-- <mvc:mapping path="/**" /> -->
	<!-- </mvc:cors> -->
	<!-- <mvc:resources location="" mapping=""/> -->

<!-- 	<mvc:cors> -->
	
<!-- 		<mvc:mapping path="/api/**" -->
<!-- 			allowed-origins="https://domain1.com, https://domain2.com" -->
<!-- 			allowed-methods="GET, PUT" -->
<!-- 			allowed-headers="header1, header2, header3" -->
<!-- 			exposed-headers="header1, header2" allow-credentials="false" -->
<!-- 			max-age="123" /> -->

<!-- 		<mvc:mapping path="/resources/**" -->
<!-- 			allowed-origins="https://domain1.com" /> -->

<!-- 	</mvc:cors> -->

</beans>